# Here follows entries for some specific programs
# The MySQL server
[mysqld]
user            = mysql
port            = 3306
socket          = /tmp/mysql.sock
datadir 	= /data/dbs/mariadb/data
#binlog_checksum = none
#slave-skip-errors=1193
#innodb_force_recovery = 6
expire_logs_days = 3 
open_files_limit    = 65535
back_log = 600
max_connections = 5000
max_connect_errors = 6000
#table-cache = 614
external-locking = FALSE
max_allowed_packet = 32M
sort_buffer_size = 4096M
join_buffer_size = 4096M
thread_cache_size = 300
#thread_concurrency = 8
query_cache_size = 512M
query_cache_limit = 2M
query_cache_min_res_unit = 2k
default-storage-engine = INNODB
#MyISAM
thread_stack = 192K
#transaction_isolation = READ-COMMITTED
tmp_table_size = 512M
max_heap_table_size = 512M
long_query_time = 3
log-slave-updates
binlog_cache_size = 16M
binlog_format = MIXED
max_binlog_cache_size = 32M
max_binlog_size = 1G
interactive_timeout = 120
wait_timeout = 120
skip-name-resolve
server-id       = 64
#replicate-do-db=game_com
#replicate_wild_do_table=game_com.user
#replicate_wild_ignore_table
replicate-ignore-db=mysql
replicate-ignore-db=test
replicate-ignore-db=information_schema
tmpdir=/tmp
relay-log = /data/dbs/mariadb/logs/mysql.relaylog
relay-log-index = /data/dbs/mariadb/logs/mysql.relaylog.index
relay-log-info-file=/data/dbs/mariadb/logs/mysql.relaylog.info
log-bin=/data/dbs/mariadb/logs/mysql.binlog
log-error=/data/dbs/mariadb/logs/mysqld_error.log
pid-file=/data/dbs/mariadb/logs/mysqld.pid
# Comment the following if you are using InnoDB tables

#skip-innodb
innodb_log_group_home_dir = /data/dbs/mariadb
innodb_data_home_dir = /data/dbs/mariadb/data
innodb_data_file_path = InnoDB.data:100M:autoextend
innodb_buffer_pool_size = 1024M
innodb_additional_mem_pool_size = 16M
# Set .._log_file_size to 25 % of buffer pool size
innodb_log_file_size = 256M
innodb_log_buffer_size = 8M
innodb_flush_log_at_trx_commit = 2
innodb_lock_wait_timeout = 50
innodb_file_per_table = 1
[mysqldump]
quick
max_allowed_packet = 16M
[mysql]
no-auto-rehash
# Remove the next comment character if you are not familiar with SQL
#safe-updates
[isamchk]
key_buffer = 512M
sort_buffer_size = 512M
read_buffer = 8M
write_buffer = 8M
[myisamchk]
key_buffer = 512M
sort_buffer_size = 512M
read_buffer = 8M
write_buffer = 8M
[mysqlhotcopy]
interactive-timeout
